---
import education from '@/data/education'
import CardBase from '@/shared/cards/CardBase.astro'
import EducationItem from '@/shared/items/EducationItem.astro'
import Header, {
  type Props as HeaderProps,
} from '@/shared/typography/Header.astro'
import { TypographyType } from '@/shared/typography/schema'

const educationHeader: HeaderProps = {
  title: 'Education',
  type: TypographyType.SECONDARY,
  style: {
    textWrap: 'nowrap',
    fontSize: '1rem',
  },
}

---

<CardBase>
  <div class='container'>
    <div class='container-header'>
      <Header {...educationHeader} />
    </div>
    <div class='container-education'>
      {
        education.map((educationItem) => (
          <EducationItem
            institute={educationItem.institute}
            degree={educationItem.degree}
            logo={educationItem.logo}
            from={educationItem.from}
            to={educationItem.to}
          />
        ))
      }
    </div>
  </div>
</CardBase>

<style>
  div,
  .container {
    display: grid;
    gap: 1rem;
  }

  .container-header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
  }

  .container-education {
    display: grid;
    gap: 1.5rem;
  }
</style>
