---
import { type Education } from '@/models/education'
import Header, { type Props as HeaderProps } from '../typography/Header.astro'
import Paragraph, {
  type Props as ParagraphProps,
} from '@/shared/typography/Paragraph.astro'
import { TypographyType } from '@/shared/typography/schema'
import { formatDateRangeYear } from '@/services/dateFormatter'
import Avatar, {
  AvatarShape,
  type Props as AvatarProps,
} from '@/shared/Avatar.astro'

interface Props extends Education {}

const { institute, degree, logo, from, to } = Astro.props

const instituteHeader: HeaderProps = {
  title: institute,
  type: TypographyType.TERTIARY,
  style: {
    textWrap: 'nowrap',
  },
}

const degreeParagraph: ParagraphProps = {
  title: degree,
  type: TypographyType.SECONDARY,
  style: {
    textWrap: 'nowrap',
  },
}

const dateParagraph: ParagraphProps = {
  title: formatDateRangeYear(from, to),
  type: TypographyType.TERTIARY,
  style: {
    textWrap: 'wrap',
  },
}

const avatarInstitute: AvatarProps = {
  src: logo,
  alt: institute,
  size: 30,
  format: {
    shape: AvatarShape.SQUARE,
  },
}
---

<div class='container-education'>
  <div class='container-logo'>
    <Avatar
      src={avatarInstitute.src}
      alt={avatarInstitute.alt}
      size={avatarInstitute.size}
      format={avatarInstitute.format}
    />
  </div>

  <div class='information'>
    <div>
      <Header
        title={instituteHeader.title}
        type={instituteHeader.type}
        format={instituteHeader.format}
      />
      <Paragraph
        title={dateParagraph.title}
        type={dateParagraph.type}
        format={dateParagraph.format}
      />
    </div>
    <Paragraph
      title={degreeParagraph.title}
      type={degreeParagraph.type}
      format={degreeParagraph.format}
    />
  </div>
</div>

<style>
  .container-education {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    gap: 0.75rem;
  }

  .container-logo {
    border-radius: 0.25rem;
    padding: 0.25rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 0.25rem;
    flex-shrink: 0;
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .information div {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
</style>
