---
import Header, {
  type Props as HeaderProps,
} from '@/shared/typography/Header.astro'

import { TypographyType } from '@/shared/typography/schema'
import { type Project } from '@/models/project'
import Tag, { type Props as TagProps, TAG_TYPE } from '../tag/Tag.astro'
import COLORS from '@/theme/colors'
import CardBase from '@/shared/cards/CardBase.astro'
import { IconsMapperName } from '@/constants/Icon'
import LinkIcon, { type Props as LinkIconProps } from '@/shared/link/LinkIcon.astro'
import LinkLocal from '@/shared/link/LinkLocal.astro'

interface Props extends Pick<Project, 'name' | 'type' | 'links' | 'localLink'> {}

const { name, type, links, localLink } = Astro.props

const projectHeader: HeaderProps = {
  title: name,
  type: TypographyType.TERTIARY,
  style: {
    textWrap: 'wrap',
  }
}

const projectType: TagProps = {
  title: type,
  type: TAG_TYPE.QUATERNARY,
}
---

<CardBase backgroundColor={COLORS.LIGHTER_GREY}>
  <div class='container-project'>
    <div class='container-information'>
      <LinkLocal href={localLink} directPage='projects'>
        <Header
          title={projectHeader.title}
          type={projectHeader.type}
          format={projectHeader.format}
        />
      </LinkLocal>
      <Tag {...projectType} />
    </div>

    {
      links.length !== 0 && (
        <div class='container-links'>
          {links.map((link) => {
            const linkIconsProps: LinkIconProps = {
              icon: {
                name: link.icon,
              },
              link: {
                href: link.href,
                newTab: true,
              },
              paragraph: {
                title: IconsMapperName[link.icon],
                type: TypographyType.TERTIARY,
              },
            }

            return <LinkIcon {...linkIconsProps} />
          })}
        </div>
      )
    }
  </div>
</CardBase>

<style>
  .container-project {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    gap: 0.5rem;
  }

  .container-information {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-start;
  }

  .container-links {
    display: flex;
    gap: 1.25rem;
  }
</style>
