---
import Header, {
  type Props as HeaderProps,
} from '@/shared/typography/Header.astro'

import { TypographyType } from '@/shared/typography/schema'
import { type Project } from '@/models/project'
import COLORS from '@/theme/colors'
import CardBase from '@/shared/cards/CardBase.astro'
import { ICONS, IconsMapperName } from '@/constants/Icon'
import LinkIcon, { type Props as LinkIconProps } from '@/shared/link/LinkIcon.astro'
import LinkLocal from '@/shared/link/LinkLocal.astro'

interface Props extends Pick<Project, 'name' | 'type' | 'links' | 'localLink'> {}

const { name, links, localLink } = Astro.props

const projectHeader: HeaderProps = {
  title: name,
  type: TypographyType.TERTIARY,
  style: {
    textWrap: 'wrap',
  }
}

const linkProject = links.find(link => link.icon === ICONS.WEB || link.icon === ICONS.GITHUB)
---

<CardBase backgroundColor={COLORS.LIGHTER_GREY}>
  <div class='container-project'>
    <div class='container-information'>
      <LinkLocal href={localLink} directPage='projects'>
        <Header
          title={projectHeader.title}
          type={projectHeader.type}
          format={projectHeader.format}
        />
      </LinkLocal>

      {
        linkProject && (
          <div class='container-links'>
            <LinkIcon {...{
                icon: {
                  name: linkProject.icon,
                },
                link: {
                  href: linkProject.href,
                  newTab: true,
                },
                paragraph: {
                  title: IconsMapperName[linkProject.icon],
                  type: TypographyType.TERTIARY,
                },
              }} />
          </div>
        )
      }
    </div>
  </div>
</CardBase>

<style>
  .container-project {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    gap: 0.5rem;
  }

  .container-information {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
  }

  .container-links {
    display: flex;
    gap: 1.25rem;
  }
</style>
