---
import ExperienceItem, {
  EXPERIENCE_VARIANT,
} from '@/shared/items/ExperienceItem.astro'
import EducationItem from '@/shared/items/EducationItem.astro'
import experience from '@/data/experience'
import education from '@/data/education'
import CardBase from '@/shared/cards/CardBase.astro'
---

<div class='container'>
  <main class='container-experience'>
    {
      experience.map((exp) => (
        <ExperienceItem {...exp} variant={EXPERIENCE_VARIANT.MINIMAL} />
      ))
    }
  </main>

  <section class='container-education'>
    <CardBase>
      <div class='container-education-items'>
        {
          education.map((educationItem) => (
            <EducationItem
              institute={educationItem.institute}
              degree={educationItem.degree}
              logo={educationItem.logo}
              from={educationItem.from}
              to={educationItem.to}
            />
          ))
        }
      </div>
    </CardBase>
  </section>
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  .container-experience,
  .container-education {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .container-education-items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
