---
import { Image } from 'astro:assets'

export enum AvatarShape {
  CIRCLE = "CIRCLE",
  SQUARE = "SQUARE"
}
export interface Props {
  src: string
  alt: string,
  size: number,
  redirect?: {
    href: string
  }
  format?: {
    shape: AvatarShape,

  }
}

const { src, alt, redirect, size, format } = Astro.props

const formats = {
  circle: format?.shape === AvatarShape.CIRCLE,
  square: format?.shape === AvatarShape.SQUARE
}

---




<a href={redirect?.href}>
      <Image src={src} alt={alt} class:list={["avatar",{ ...formats }]} width={size} height={size} />
    </a>

<style define:vars={{ size: `${size}px`}}>
  img {
    width: var(--size);
    height: var(--size);
    object-fit: cover;
  }

  a {
    height: var(--size);
  }

  .circle {
    border-radius: 50%;
  }

  .square {
    border-radius: 0.25rem;
  }
</style>
