---
export interface Props {
  src: string
  alt: string,
  size: string,
  redirect?: {
    href: string
  }
}

const { src, alt, redirect, size } = Astro.props
const setDefault = !redirect
---

{
  redirect && (
    <a href={redirect.href}>
      <img src={src} alt={alt} />
    </a>
  )
}

{setDefault && <img src={src} alt={alt} />}

<style define:vars={{ size }}>
  img {
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
  }

  a {
    height: var(--size);
  }
</style>
